.sidebar {
  background-color: #7890a8;
  display: flex;
  flex-direction: column;
  height: 100%;
}

li {
}

/* .toggle {
  position: absolute;
  top: 9%;
  background-color: #fad02c;
  border-radius: 50%;
} */
