* {
  font-family: "Karla", sans-serif;
}

.App {
  display: grid;
  justify-content: center;
  grid-template-areas:
    "header  header"
    "main main"
    "footer  footer";
  margin: 30px;
}

#header {
  grid-area: header;
}

#sidebar {
  grid-area: sidebar;
}

#main {
  grid-area: main;
  border-radius: 1%;
  box-shadow: 4px 4px 2px rgb(209, 207, 207);
}

#footer {
  grid-area: footer;
  border-radius: 1%;
  box-shadow: 4px 4px 2px rgb(209, 207, 207);
}
