* {
  font-family: "Karla", sans-serif;
}

.App {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-areas:
    "header  header"
    "sidebar main"
    "footer  footer";
}

#header {
  grid-area: header;
}

#sidebar {
  grid-area: sidebar;
}

#main {
  grid-area: main;
}

#footer {
  grid-area: footer;
}
